.version.about /* version checker */
{
	color: #0000FB;
	background-color: #B1CE60;
}

.html
{
	background: #252525 url("../images/broken_noise.jpg") repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 1192px;
	min-height: 823px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu130
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#pu130
{
	width: 0.01px;
}

#u130
{
	z-index: 2;
	width: 1392px;
	margin-right: -10000px;
}

#u100
{
	z-index: 4;
	width: 142px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 625px;
}

#u140-4
{
	z-index: 6;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 403px;
}

#u140-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u144-4
{
	z-index: 10;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 605px;
}

#u140-4.MuseLinkActive,#u144-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u146-4
{
	z-index: 14;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 807px;
}

#u144-4.MuseLinkActive,#u146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u146-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u1227-4
{
	z-index: 28;
	width: 20px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 585px;
}

#u1229-4
{
	z-index: 32;
	width: 20px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 787px;
}

#u953
{
	z-index: 38;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 100px;
}

#u949
{
	z-index: 39;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u949_position_content
{
	margin-top: -21px;
	padding-bottom: 36px;
}

#u950
{
	z-index: 40;
	width: 241px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 7px;
	margin-left: 19px;
	position: relative;
}

#u951-4
{
	z-index: 41;
	width: 115px;
	min-height: 21px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 64px;
}

#u952-25
{
	z-index: 45;
	width: 227px;
	min-height: 331px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 27px;
	margin-top: 37px;
	position: relative;
}

#u981
{
	z-index: 70;
	width: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 436px;
}

#slideshowu861
{
	z-index: 92;
	width: 0.01px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
}

#u867
{
	position: absolute;
	width: 182px;
	height: 182px;
	background-color: transparent;
	left: 170px;
}

#u867popup
{
	z-index: 93;
}

#u868
{
	z-index: 94;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u868_clip
{
	overflow: hidden;
	width: 182px;
	height: 182px;
}

#u868_img
{
	margin: 1px -2px;
}

#u892
{
	z-index: 96;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u901
{
	z-index: 98;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u910
{
	z-index: 100;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u930
{
	z-index: 102;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u939
{
	z-index: 104;
	width: 182px;
	height: 182px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	border-radius: 260px;
	margin-right: -10000px;
	position: relative;
}

#u868 .clip_frame,#u892 .clip_frame,#u901 .clip_frame,#u910 .clip_frame,#u930 .clip_frame,#u939 .clip_frame
{
	-webkit-border-radius: 260px 260px 260px 260px;
}

#u892_img,#u901_img,#u910_img,#u930_img,#u939_img
{
	padding: 55px 56px;
}

#u874-4
{
	position: absolute;
	width: 9px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	padding: 10px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 71px;
}

#u874-4popup
{
	z-index: 106;
}

#u866-4
{
	position: absolute;
	width: 9px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	padding: 10px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 71px;
	left: 488px;
}

#u866-4popup
{
	z-index: 110;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu811
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 15px;
}

#u811
{
	z-index: 71;
	width: 487px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u811_position_content
{
	padding-top: 29px;
	padding-bottom: 28px;
}

#u832-4
{
	z-index: 73;
	width: 283px;
	min-height: 37px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 103px;
	position: relative;
}

#u822
{
	z-index: 72;
	left: -49px;
	margin-top: 30px;
	position: relative;
}

#u847-6
{
	z-index: 81;
	width: 222px;
	min-height: 37px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 133px;
	margin-top: 197px;
	position: relative;
}

#u860
{
	z-index: 87;
	width: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 212px;
	margin-top: 10px;
	position: relative;
}

#u848
{
	z-index: 88;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u854
{
	z-index: 90;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#u833-4
{
	z-index: 77;
	width: 462px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	text-align: center;
	line-height: 72px;
	font-family: exo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 14px;
}

#u833-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	width: 462px;
	margin: 97px -10000px 0px 0px;
}

#u980
{
	z-index: 161;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 1009px;
}

#u964
{
	z-index: 162;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u967
{
	z-index: 163;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 404px;
	position: relative;
	margin-right: -10000px;
}

#u965
{
	z-index: 164;
	width: 242px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -21px;
	left: 19px;
}

#u966-4
{
	z-index: 165;
	width: 115px;
	min-height: 21px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 63px;
}

#pamphletu1709
{
	z-index: 185;
	width: 0.01px;
	height: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 1008px;
}

#u1710
{
	z-index: 186;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 116px;
}

#u1711
{
	position: absolute;
	width: 20px;
	height: 20px;
	border-color: #C4C4C4;
	background-color: #7D7D7D;
	border-radius: 40px;
}

#u1711:hover
{
	border-color: #6B6B6B;
	background-color: #464646;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1711:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1712
{
	position: absolute;
	width: 20px;
	height: 20px;
	border-color: #C4C4C4;
	background-color: #7D7D7D;
	border-radius: 40px;
	left: 30px;
}

#u1712:hover
{
	border-color: #6B6B6B;
	background-color: #464646;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1712:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1711.PamphletThumbSelected,#u1712.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #E62118;
	border-radius: 50px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1715
{
	position: absolute;
	width: 283px;
	background-color: transparent;
}

#u1715popup
{
	z-index: 189;
}

#u1716
{
	z-index: 190;
	width: 250px;
	height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 44px 15px 22px 18px;
}

#u1717
{
	z-index: 199;
	margin-left: 49px;
	position: relative;
}

#u1719-8
{
	z-index: 191;
	width: 250px;
	min-height: 60px;
	background-color: transparent;
	color: #7D7D7D;
	text-align: center;
	font-family: exo, sans-serif;
	margin-top: 18px;
	position: relative;
}

#u1720
{
	z-index: 200;
	width: 250px;
	height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 44px 16px 22px 17px;
}

#u1721
{
	z-index: 207;
	margin-left: 62px;
	position: relative;
}

#u1723-6
{
	z-index: 201;
	width: 250px;
	min-height: 60px;
	background-color: transparent;
	color: #7D7D7D;
	text-align: center;
	font-family: exo, sans-serif;
	margin-top: 17px;
	position: relative;
}

#u1719-2,#u1723-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1719-4,#u1719-6,#u1723-4
{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu987
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 26px;
}

#u987
{
	z-index: 114;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u985
{
	z-index: 115;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u985_position_content
{
	margin-top: -21px;
	padding-bottom: 38px;
}

#u983
{
	z-index: 116;
	width: 242px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 7px;
	margin-left: 19px;
	position: relative;
}

#u984-4
{
	z-index: 117;
	width: 239px;
	min-height: 21px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u986-16
{
	z-index: 121;
	width: 239px;
	min-height: 163px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 39px;
	position: relative;
}

#u1022
{
	z-index: 155;
	width: 486px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 354px;
}

#u1022_position_content
{
	margin-top: -21px;
	padding-bottom: 47px;
}

#u1024
{
	z-index: 156;
	width: 447px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 7px;
	margin-left: 19px;
	position: relative;
}

#u1023-4
{
	z-index: 157;
	width: 415px;
	min-height: 21px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u1020-6
{
	z-index: 169;
	width: 384px;
	min-height: 45px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 50px;
	margin-top: 40px;
	position: relative;
}

#pbuttonu1033
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 30px;
}

#buttonu1033
{
	z-index: 180;
	width: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1033:hover
{
	background-color: #545454;
	width: 181px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu1033:active
{
	background-color: #252525;
	width: 181px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u1034-4
{
	z-index: 181;
	width: 119px;
	min-height: 16px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 31px;
}

#buttonu1033:hover #u1034-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1033:active #u1034-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1033.ButtonSelected #u1034-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#u833-4:hover p,#buttonu1033:hover #u1034-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1033:active #u1034-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1031
{
	z-index: 175;
	width: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 16px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#buttonu1031:hover
{
	background-color: #545454;
	width: 181px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu1033.ButtonSelected,#buttonu1031:active
{
	background-color: #252525;
	width: 181px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu1031.ButtonSelected
{
	background-color: #252525;
	width: 181px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u1032-4
{
	z-index: 176;
	width: 119px;
	min-height: 16px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 31px;
}

#buttonu1031:hover #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1031:active #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1031.ButtonSelected #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1031:hover #u1032-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1031:active #u1032-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1033.ButtonSelected #u1034-4 p,#buttonu1031.ButtonSelected #u1032-4 p
{
	color: #7D7D7D;
	visibility: inherit;
}

#u1003
{
	z-index: 137;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 909px;
}

#u1007
{
	z-index: 138;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1007_position_content
{
	margin-top: -21px;
	padding-bottom: 165px;
}

#u1005
{
	z-index: 139;
	width: 241px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 7px;
	margin-left: 19px;
	position: relative;
}

#u1006-4
{
	z-index: 140;
	width: 238px;
	min-height: 21px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u1010
{
	z-index: 144;
	width: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 39px;
	position: relative;
}

#u1004-6
{
	z-index: 145;
	width: 130px;
	min-height: 33px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1009-4
{
	z-index: 151;
	width: 74px;
	min-height: 15px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 165px;
}

#pu1232
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 198px;
	margin-left: 1357px;
}

#u1232
{
	z-index: 37;
	width: 50px;
	min-height: 25px;
}

#u1230
{
	z-index: 36;
	width: 50px;
	min-height: 25px;
	margin-top: 37px;
}

#u351
{
	z-index: 18;
	width: 200px;
	min-height: 100px;
	margin-top: 40px;
}

#u1172
{
	z-index: 19;
	width: 200px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 1178px;
	left: 496px;
}

#u1174
{
	z-index: 20;
	width: 49px;
	margin-left: 75px;
}

#u1173-6
{
	z-index: 22;
	width: 200px;
	margin-top: 20px;
}

body
{
	position: relative;
	min-width: 1192px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1177px;
}

