#u140-4
{
	font-family: exo-n4, sans-serif;
}

#u144-4
{
	font-family: exo-n4, sans-serif;
}

#u146-4
{
	font-family: exo-n4, sans-serif;
}

#u1227-4,#u1229-4
{
	font-family: exo-n4, sans-serif;
}

#u1173-6
{
	font-family: exo-n3, sans-serif;
}

#u218-4
{
	font-family: exo-n4, sans-serif;
}

#u225-4
{
	font-family: exo-n4, sans-serif;
}

#u174-2
{
	font-family: exo-n6, sans-serif;
}

#u437-4
{
	font-family: exo-n7, sans-serif;
}

#u507-4
{
	font-family: exo-n7, sans-serif;
}

#u517-4
{
	font-family: exo-n7, sans-serif;
}

#u526-4
{
	font-family: exo-n7, sans-serif;
}

#u174-10,#u324-4,#u495-6,#u504-6,#u514-6,#u527-6,#u370-4,#u635-6
{
	font-family: exo-n4, sans-serif;
}

#u649-6
{
	font-family: exo-n4, sans-serif;
}

#u668-6
{
	font-family: exo-n4, sans-serif;
}

#u684-6,#u622-6
{
	font-family: exo-n3, sans-serif;
}

#u356-4,#u1592-8,#u1633-6
{
	font-family: exo-n4, sans-serif;
}

