#u140-4
{
	font-family: exo-n4, sans-serif;
}

#u144-4
{
	font-family: exo-n4, sans-serif;
}

#u146-4
{
	font-family: exo-n4, sans-serif;
}

#u1227-4,#u1229-4
{
	font-family: exo-n4, sans-serif;
}

#u1173-6
{
	font-family: exo-n3, sans-serif;
}

#u833-4
{
	font-family: exo-n7, sans-serif;
}

#u951-4,#u952-25,#u832-4,#u847-6,#u966-4,#u1719-8,#u1723-6,#u984-4,#u986-16,#u1023-4,#u1020-6,#u1034-4
{
	font-family: exo-n4, sans-serif;
}

#u1032-4
{
	font-family: exo-n4, sans-serif;
}

#u1006-4,#u1004-6,#u1009-4
{
	font-family: exo-n4, sans-serif;
}

