#u140-4
{
	font-family: exo-n4, sans-serif;
}

#u144-4
{
	font-family: exo-n4, sans-serif;
}

#u146-4
{
	font-family: exo-n4, sans-serif;
}

#u1227-4,#u1229-4
{
	font-family: exo-n4, sans-serif;
}

#u1173-6
{
	font-family: exo-n3, sans-serif;
}

#u1198-4
{
	font-family: exo-n4, sans-serif;
}

#u1197-4
{
	font-family: exo-i3, sans-serif;
}

#u1196-4
{
	font-family: exo-n4, sans-serif;
}

#u1204-4
{
	font-family: exo-n4, sans-serif;
}

#u1203-4
{
	font-family: exo-i3, sans-serif;
}

#u1205-4
{
	font-family: exo-n4, sans-serif;
}

#u1208-4
{
	font-family: exo-n4, sans-serif;
}

#u1209-4
{
	font-family: exo-i3, sans-serif;
}

#u1207-4
{
	font-family: exo-n4, sans-serif;
}

#u1309-4
{
	font-family: exo-n4, sans-serif;
}

#u1310-4
{
	font-family: exo-i3, sans-serif;
}

#u1311-4
{
	font-family: exo-n4, sans-serif;
}

#widgetu1195_input,#widgetu1195_prompt,#widgetu1202_input,#widgetu1202_prompt,#widgetu1206_input,#widgetu1206_prompt,#widgetu1308_input,#widgetu1308_prompt
{
	font-family: exo, sans-serif;
}

#u1216-6,#u1193-4,#u1377-4,#u1251-4
{
	font-family: exo-n4, sans-serif;
}

