.version.index /* version checker */
{
	color: #0000F9;
	background-color: #3A3604;
}

.html
{
	background: #252525 url("../images/broken_noise.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1192px;
	min-height: 823px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu130
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -105px;
}

#pu130
{
	width: 0.01px;
	margin-left: 5px;
}

#u130
{
	z-index: 2;
	width: 1392px;
	margin-right: -10000px;
}

#u100
{
	z-index: 4;
	width: 142px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 625px;
}

#u140-4
{
	z-index: 6;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 403px;
}

#u140-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u144-4
{
	z-index: 10;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 605px;
}

#u140-4.MuseLinkActive,#u144-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u146-4
{
	z-index: 14;
	width: 182px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 807px;
}

#u144-4.MuseLinkActive,#u146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u146-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 182px;
	margin: 260px -10000px 0px 0px;
}

#u1227-4
{
	z-index: 28;
	width: 20px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 585px;
}

#u1229-4
{
	z-index: 32;
	width: 20px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 787px;
}

#buttonu217
{
	z-index: 105;
	width: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 504px;
}

#buttonu217:hover
{
	background-color: #545454;
	width: 181px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#u218-4
{
	z-index: 106;
	width: 119px;
	min-height: 16px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 31px;
}

#buttonu217:hover #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu217:active #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu217:hover #u218-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu217:active #u218-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu224
{
	z-index: 110;
	width: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	border-radius: 3px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 706px;
}

#buttonu224:hover
{
	background-color: #545454;
	width: 181px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#buttonu217:active,#buttonu224:active
{
	background-color: #252525;
	width: 181px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#buttonu224.ButtonSelected
{
	background-color: #252525;
	width: 181px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#u225-4
{
	z-index: 111;
	width: 119px;
	min-height: 16px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 31px;
}

#buttonu217.ButtonSelected #u218-4,#buttonu224:hover #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu224:active #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu224.ButtonSelected #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 119px;
	margin: 16px -10000px 0px 0px;
}

#buttonu224:hover #u225-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu224:active #u225-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1647
{
	z-index: 167;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 645px;
}

#u1648
{
	z-index: 168;
	width: 40px;
	background-color: #464646;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1649
{
	z-index: 169;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 8px;
}

#u1663
{
	z-index: 213;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 706px;
}

#u1666
{
	z-index: 214;
	width: 40px;
	background-color: #464646;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1664
{
	z-index: 215;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u1672
{
	z-index: 217;
	width: 201px;
	height: 32px;
	background-color: #E62118;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 442px;
}

#u174-10
{
	z-index: 218;
	width: 1054px;
	min-height: 74px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 27px;
	text-align: center;
	line-height: 41px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 169px;
}

#u174-2
{
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 600;
}

#pu344
{
	width: 0.01px;
	margin-top: 49px;
}

#u344
{
	z-index: 38;
	width: 1401px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #252525;
	padding-bottom: 51px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u618
{
	z-index: 39;
	width: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -51px;
	left: 205px;
}

#u571
{
	z-index: 40;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u332
{
	z-index: 41;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u322
{
	z-index: 42;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u324-4
{
	z-index: 43;
	width: 158px;
	min-height: 36px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 62px;
}

#u570
{
	z-index: 47;
	width: 281px;
	height: 373px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 3px ;
	position: relative;
}

#u544
{
	z-index: 48;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 36px;
}

#u543
{
	z-index: 76;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u497
{
	z-index: 77;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u496
{
	z-index: 84;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u436
{
	z-index: 85;
	width: 88px;
	border-width: 2px;
	border-style: solid;
	border-color: #7D7D7D;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u437-4
{
	z-index: 86;
	width: 61px;
	min-height: 59px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	font-family: exo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u495-6
{
	z-index: 78;
	width: 90px;
	min-height: 29px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u542
{
	z-index: 90;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u505
{
	z-index: 97;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u506
{
	z-index: 98;
	width: 88px;
	border-width: 2px;
	border-style: solid;
	border-color: #7D7D7D;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u507-4
{
	z-index: 99;
	width: 61px;
	min-height: 59px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	font-family: exo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u504-6
{
	z-index: 91;
	width: 90px;
	min-height: 29px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u528
{
	z-index: 49;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u513
{
	z-index: 50;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u515
{
	z-index: 57;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u516
{
	z-index: 58;
	width: 88px;
	border-width: 2px;
	border-style: solid;
	border-color: #7D7D7D;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u517-4
{
	z-index: 59;
	width: 61px;
	min-height: 59px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	font-family: exo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u437-4:hover,#u507-4:hover,#u517-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	width: 61px;
	margin: 15px -10000px 0px 0px;
}

#u514-6
{
	z-index: 51;
	width: 90px;
	min-height: 29px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u523
{
	z-index: 63;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u524
{
	z-index: 70;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u525
{
	z-index: 71;
	width: 88px;
	border-width: 2px;
	border-style: solid;
	border-color: #7D7D7D;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u436:hover,#u506:hover,#u516:hover,#u525:hover
{
	border-color: #7D7D7D;
	width: 88px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u526-4
{
	z-index: 72;
	width: 73px;
	min-height: 59px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	font-family: exo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u526-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	width: 73px;
	margin: 14px -10000px 0px 0px;
}

#buttonu217.ButtonSelected #u218-4 p,#buttonu224.ButtonSelected #u225-4 p,#u437-4:hover p,#u507-4:hover p,#u517-4:hover p,#u526-4:hover p
{
	color: #7D7D7D;
	visibility: inherit;
}

#u527-6
{
	z-index: 64;
	width: 90px;
	min-height: 29px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u611
{
	z-index: 103;
	width: 283px;
	background-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 1px;
}

#u724
{
	z-index: 115;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -51px;
	left: 913px;
}

#u617
{
	z-index: 116;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u368
{
	z-index: 117;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u369
{
	z-index: 118;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u370-4
{
	z-index: 119;
	width: 276px;
	min-height: 36px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 3px;
}

#u598
{
	z-index: 123;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 3px ;
	position: relative;
}

#u599
{
	z-index: 124;
	width: 283px;
	background-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u679
{
	z-index: 126;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 3px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
}

#u684-6
{
	z-index: 127;
	width: 174px;
	min-height: 39px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u699
{
	z-index: 133;
	width: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 201px;
}

#u683
{
	z-index: 134;
	width: 79px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 0px ;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u683:hover
{
	background-color: #252525;
	width: 79px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u692
{
	z-index: 135;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u700
{
	z-index: 137;
	width: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 17px;
}

#u642
{
	z-index: 138;
	width: 237px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u636
{
	z-index: 145;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u635-6
{
	z-index: 139;
	width: 147px;
	min-height: 37px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 90px;
}

#u635-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 147px;
	margin: 17px -10000px 0px 0px;
}

#u659
{
	z-index: 147;
	width: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u653
{
	z-index: 155;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u648
{
	z-index: 148;
	width: 159px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 90px;
}

#u649-6
{
	z-index: 149;
	width: 159px;
	min-height: 37px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u649-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#u678
{
	z-index: 157;
	width: 237px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u672
{
	z-index: 165;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u667
{
	z-index: 158;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 90px;
}

#u668-6
{
	z-index: 159;
	width: 147px;
	min-height: 37px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u668-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u635-6:hover p,#u649-6:hover p,#u668-6:hover p
{
	color: #C2C2C2;
	visibility: inherit;
}

#u354
{
	z-index: 171;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u355
{
	z-index: 172;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #464646;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u356-4
{
	z-index: 173;
	width: 158px;
	min-height: 36px;
	background-color: transparent;
	color: #7D7D7D;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 62px;
}

#u565
{
	z-index: 177;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 3px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 560px;
}

#u605
{
	z-index: 178;
	width: 283px;
	background-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -1px;
}

#u621
{
	z-index: 180;
	width: 281px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 3px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 560px;
}

#u622-6
{
	z-index: 181;
	width: 174px;
	min-height: 39px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7D7D7D;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#u624
{
	z-index: 187;
	width: 79px;
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
	background-color: #343434;
	border-radius: 0px 0px 3px 0px ;
	padding-bottom: 14px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 201px;
}

#u624:hover
{
	background-color: #252525;
	width: 79px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u625
{
	z-index: 188;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
}

#pamphletu1576
{
	z-index: 190;
	width: 0.01px;
	height: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 560px;
}

#u1581
{
	z-index: 191;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 116px;
}

#u1582
{
	position: absolute;
	width: 20px;
	height: 20px;
	border-color: #C4C4C4;
	background-color: #7D7D7D;
	border-radius: 40px;
}

#u1582:hover
{
	border-color: #6B6B6B;
	background-color: #464646;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1582:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1626
{
	position: absolute;
	width: 20px;
	height: 20px;
	border-color: #C4C4C4;
	background-color: #7D7D7D;
	border-radius: 40px;
	left: 30px;
}

#u1626:hover
{
	border-color: #6B6B6B;
	background-color: #464646;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1626:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	border-radius: 40px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1582.PamphletThumbSelected,#u1626.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #E62118;
	border-radius: 50px;
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u1588
{
	position: absolute;
	width: 283px;
	background-color: transparent;
}

#u1588popup
{
	z-index: 194;
}

#u1589
{
	z-index: 195;
	width: 250px;
	height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 44px 15px 22px 18px;
}

#u1615
{
	z-index: 204;
	margin-left: 49px;
	position: relative;
}

#u1592-8
{
	z-index: 196;
	width: 250px;
	min-height: 60px;
	background-color: transparent;
	color: #7D7D7D;
	text-align: center;
	font-family: exo, sans-serif;
	margin-top: 18px;
	position: relative;
}

#u1627
{
	z-index: 205;
	width: 250px;
	height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 44px 16px 22px 17px;
}

#u1637
{
	z-index: 212;
	margin-left: 62px;
	position: relative;
}

#u1633-6
{
	z-index: 206;
	width: 250px;
	min-height: 60px;
	background-color: transparent;
	color: #7D7D7D;
	text-align: center;
	font-family: exo, sans-serif;
	margin-top: 17px;
	position: relative;
}

#u1592-2,#u1633-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1592-4,#u1592-6,#u1633-4
{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1232
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 198px;
	margin-left: 1357px;
}

#u1232
{
	z-index: 37;
	width: 50px;
	min-height: 25px;
}

#u1230
{
	z-index: 36;
	width: 50px;
	min-height: 25px;
	margin-top: 37px;
}

#u351
{
	z-index: 18;
	width: 200px;
	min-height: 100px;
	margin-top: 40px;
}

#u1172
{
	z-index: 19;
	width: 200px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 1253px;
	left: 496px;
}

#u1174
{
	z-index: 20;
	width: 49px;
	margin-left: 75px;
}

#u1173-6
{
	z-index: 22;
	width: 200px;
	margin-top: 20px;
}

body
{
	position: relative;
	min-width: 1192px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1252px;
}

