#u1762-4
{
	font-family: exo-n4, sans-serif;
}

#u1765-4,#u1763-4
{
	font-family: exo-n4, sans-serif;
}

#u1766-4,#u1764-4
{
	font-family: exo-n4, sans-serif;
}

#u1774-6
{
	font-family: exo-n3, sans-serif;
}

#u1799-2
{
	font-family: exo-n6, sans-serif;
}

#u1799-10,#u1801-4
{
	font-family: exo-n4, sans-serif;
}

#u1803-4
{
	font-family: exo-n4, sans-serif;
}

