#u1762-4
{
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1762-4:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1762-4:hover p
{
	color: #151515;
	visibility: inherit;
}

#u1762-2
{
	padding-top: 8px;
}

#u1763-4
{
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1763-4:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1763-4:hover p
{
	color: #151515;
	visibility: inherit;
}

#u1763-2
{
	padding-top: 8px;
}

#u1765-4,#u1766-4
{
	background-color: transparent;
	color: #7D7D7D;
	font-size: 30px;
	text-align: center;
	line-height: 42px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1764-4
{
	background-color: transparent;
	color: #7D7D7D;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: exo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1764-4:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1762-4.MuseLinkActive,#u1763-4.MuseLinkActive,#u1764-4.MuseLinkActive
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u1764-4:hover p
{
	color: #151515;
	visibility: inherit;
}

#u1762-4.MuseLinkActive p,#u1763-4.MuseLinkActive p,#u1764-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1764-2
{
	padding-top: 8px;
}

#u1814,#u1773
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1757,#u1760,#u1775
{
	background-color: transparent;
	position: relative;
}

#u1774-6
{
	background-color: transparent;
	color: #959595;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

